---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";
import { DEFAULT_HERO, SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("recipes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul li:first-child {
        grid-column: span 2;
        margin-bottom: 1rem;
        text-align: center;
        & h4 {
          font-size: 2.4rem;
        }
        & img {
          width: 100%;
        }
      }
      ul a:hover {
        & h4 {
          color: var(--accent);
        }
        & img {
          transition: 0.2s ease;
          box-shadow: var(--box-shadow);
        }
      }
    </style>
  </head>
  <body>
    <main class="w-960px">
      <h1>🥘 Recipes</h1>
      <p class="text-lg text-end">
        <Link href="new">Add recipe</Link>
      </p>
      <section>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
          {
            posts
              .filter((post) => !post.data.hidden)
              .map((post) => (
                <li>
                  <Link href={post.id} class="!block">
                    <img
                      width={720}
                      height={360}
                      src={post.data.heroImage || DEFAULT_HERO}
                      class:list={[
                        "rounded-3 max-h-400px object-cover",
                        !post.data.heroImage && "blur-4px",
                      ]}
                      alt="Post image"
                    />
                    <h4 class="m-0 text-black">{post.data.title}</h4>
                    <div class="date text-gray">{post.data.tags}</div>
                  </Link>
                </li>
              ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
