---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";

type ExtraProps = {
  lastModified?: Date;
};

type Props = CollectionEntry<"recipes"> & ExtraProps;

const { id, data, lastModified } = Astro.props;
const { title, description, pubDate, updatedDate, heroImage } = data;

const editUrl = `https://github.com/zettca/recipes/edit/master/src/content/recipes/${id}`;

const sameDate = (d1: Date, d2: Date) => {
  return d1.toISOString().slice(0, 10) === d2.toISOString().slice(0, 10);
};
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main class="w-full m-0">
      <article>
        <div class="w-full">
          {
            heroImage && (
              <img
                class="mx-auto rounded"
                width={1020}
                height={510}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="prose m-auto p-4">
          <div class="mb-4 px-4 text-center leading-none">
            <div class="mb-2 color-gray">
              <FormattedDate date={pubDate} />
              {
                lastModified && !sameDate(pubDate, lastModified) && (
                  <span class="italic">
                    (edited <FormattedDate date={lastModified} />)
                  </span>
                )
              }
            </div>
            <a href={editUrl}>Edit</a>
            <h1 class="mb-2">{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
