---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { toISODate } from "../utils";

type ExtraProps = {
  lastModified?: Date;
};

type Props = CollectionEntry<"recipes"> & ExtraProps;

const { id, data, lastModified } = Astro.props;
const { title, description, pubDate, heroImage } = data;

const editUrl = `https://github.com/zettca/recipes/edit/master/src/content/recipes/${id}`;

const sameDate = (d1: Date, d2: Date) => {
  return toISODate(d1) === toISODate(d2);
};
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main class="w-full m-0">
      <article class="prose m-auto">
        <div
          class="flex sm:flex-col md:flex-row items-baseline mb-4 text-center leading-none"
        >
          <div class="flex items-center gap-2">
            <Link class="text-3xl i-tabler-arrow-left" href="/" />
            <h1>{title}</h1>
          </div>
          <div class="flex-1"></div>
          <div class="flex flex-col items-end color-gray">
            <FormattedDate date={pubDate} />
            {
              lastModified && !sameDate(pubDate, lastModified) && (
                <span class="italic">
                  edited <FormattedDate date={lastModified} />
                </span>
              )
            }
            <a href={editUrl}>Edit</a>
          </div>
        </div>
        {
          heroImage && (
            <img
              class="mx-auto rounded w-full aspect-square md:aspect-video object-cover"
              height={300}
              src={heroImage}
              alt=""
            />
          )
        }
        <div>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
