---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main class="w-full m-0">
      <article>
        <div class="w-full">
          {
            heroImage && (
              <img
                class="mx-auto rounded"
                width={1020}
                height={510}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="prose m-auto p-4">
          <div class="mb-4 px-4 text-center leading-none">
            <div class="mb-2 color-gray">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="italic">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1 class="mb-2">{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
